$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  // background-image: url('../../public/movies.jpg');
  background-size: contain;
  margin-top: 100px;
}

.title {
  text-align: center;
  text-decoration: underline;
  color: white;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 75px;
}

.sign-up {
  text-align: left;
  margin-bottom: 50px;
}


.sign-in {
  text-align: left;
}

.sign-out {
  display: none;
  margin-top: 25px;
}

.change-pw {
  display: none;
  margin-top: 25px;
}

.new-item {
  display: none;
  margin-top: 25px;
}

.all-movies {
  display: none;
  margin-top: 25px;
}

.update-movies {
  display: none;
  margin-top: 25px;
}

.new-member {
  font-size: 25px;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.returning-member {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.leaving {
  font-size: 25px;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.changing {
  font-size: 25px;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.creation {
  font-size: 25px;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.listings {
  font-size: 25px;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.update {
  font-size: 25px;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.message {
  font-size: 25px;
  color: black;
}

span {
  color: red;
  font-weight: bold;
}

.id {
  font-size: 20px;
  font-weight: bolder;
  border-bottom: white;
  background-color: rgba(233, 5, 5, 0.3);
  color: white;
  margin-right: 50%;
  text-decoration: underline;
}

.director {
  font-size: 20px;
  font-weight: bolder;
  border-bottom: white;
  background-color: rgba(233, 5, 5, 0.3);
  color: white;
  margin-right: 50%;
  text-decoration: underline;
}

.actor {
  font-size: 20px;
  font-weight: bolder;
  border-bottom: white;
  background-color: rgba(233, 5, 5, 0.3);
  color: white;
  margin-right: 50%;
  text-decoration: underline;
}

.main-title {
  background-color: rgba(242, 241, 241, 0.4);
  font-size: 25px;
  color: black;
  font-weight: bold;
}
